name: Coveralls Report
on:
  push:

jobs:
  coveralls:
    name: Coveralls Report
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - uses: actions/checkout@v3

      - name: Wait on tests
        uses: lewagon/wait-on-check-action@v1.3.1
        with:
          ref: ${{ github.sha }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 10 # seconds
          running-workflow-name: Coveralls Report
          allowed-conclusions: success,skipped,cancelled,failure

      - uses: coverallsapp/github-action@release/v2
        env:
          COVERALLS_SERVICE_NUMBER: ${{ github.sha }}
        with:
          carryforward: "ruby-2.5,ruby-2.6,ruby-2.7,ruby-3.0,ruby-3.1,ruby-jruby"
          parallel-finished: true
